
// Load Master Styles
// -------------------------
@import "../../../Styles/Bootstrap/variables.less";
@import "../../../Styles/_rock-core.less";
@import "../../../Styles/_store.less";
@import "../../../Styles/_rock-variables.less";
@import "_variables.less";
@import "_variable-overrides.less";
@import "partials/_buttons.less";
@import "partials/_typography.less";
@import "partials/_colors.less";
@import "_print.less";

/*
    Rock Theme Styles

    1. HTML Overrides
    2. Bootstrap Overrides
    3. Theme Styling
    4. Responsive Overrides

*/

// 1. HTML Overrides
// -------------------------

html {
  -webkit-font-smoothing: antialiased;
}

body {
  color: @gray-darker;
}

// Temporary Fix for Safari 13 Select Rendering Bug
select {
  text-rendering: auto;
  -webkit-font-smoothing: none;
}
// End Temporary Fix

main {
  display: block;
}

a { text-decoration: underline; }

// 2. Bootstrap Overrides
// -------------------------

.navbar {
  position: static; // default is relative which causes the dropdowns to go under the other navbars dispite having a higher z-index - JME 9/9/2013
  // using fontawesome nav toggle button instead of the BS default
  .navbar-toggle {
    padding: 6px 10px;

    i.fa-bars {
      color: @navbar-inverse-toggle-icon-bar-bg;
    }
  }
}

a:hover i.fs {
  text-decoration: none;
}

mark { background-color: #fff46d; }

.panel { font-size: 90%; overflow: hidden; }
.panel:not(.panel-default) { border-width: 0; }
.panel-body { color: @gray-darker; }
.panel-body *:last-child { margin-bottom: 0; }
.panel-body { padding: (@spacing-unit-base/3*2); }

.panel-default {
  .panel-heading {
    background-color: @gray-dark;
  }
}
.panel {
  .panel-heading a {
    display: inline-block;
    width: 100%;
    font-family: @font-family-sans-serif;
    font-weight: @font-weight-semibold;
    text-decoration: none;
    color: @white;
  }
}

.well-lg { padding: (@spacing-unit-base/3*2); }

hr { border-width: 3px; }

.row-condensed {
  margin-left: -(@grid-gutter-width/4);
  margin-right: -(@grid-gutter-width/4);
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: (@grid-gutter-width/4);
    padding-right: (@grid-gutter-width/4);
  }
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  float: none;
  vertical-align: top;
  display: inline-block;
}

// 3. Theme Styling
// -------------------------

.panel, .shadowed { box-shadow: 0 0 5px rgba(0,0,0,.05), 0 3px 1px rgba(0,0,0,.1); }
.rounded { border-radius: @border-radius-large; }
.letter-spacing-condensed { letter-spacing: -.5px; }
img { max-width: 100%; }

.main-navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,.98);
  z-index: 1;
  box-shadow: 0 0 5px rgba(0,0,0,.1), 0 0 2px rgba(0,0,0,.2);
}

.accordion {
  .panel-heading {
    position: relative;

    a:after {
      content:'\f078';
      font-family: "Font Awesome 5 Pro";
      font-weight: 900;
      position: absolute;
      right: @spacing-unit-base;
      top: 50%;
      margin-top: -16px;
      transform: rotate(180deg);
      transition: all .15s ease-in-out;
    }

    a.collapsed:after {
      transform: rotate(0deg);
      margin-top: -13px;
    }
  }
}

.text-sliced {
  position: relative;
  display: inline-block;
  width: auto;
  z-index: 1;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: -14px;
    bottom: 0;
    left: -14px;
    border-top: 5px solid @brand-primary;
    z-index: -1;
    transform: rotate(-2deg);
  }

}

.text-tilt {
  position: relative;
  display: inline-block;
  z-index: 1;
  transform: rotate(-3deg);

  &:after {
    content:'';
    position: absolute;
    bottom: -5px;
    left: -2%;
    width: 104%;
    height: 40%;
    background-color: @brand-primary;
    z-index: -1;
  }
}


// 4. Responsive Overrides
// -------------------------

// default styling should be for phones 767px or less

// Small devices (tablets, 768px and up)
@media (min-width: @screen-sm-min) {
  #announcement-rotator {
    margin: @spacing-lg-px 0;
  }
}

// Medium devices (desktops, 992px and up)
@media (min-width: @screen-md-min) {
}

// Large devices (large desktops, 1200px and up)
@media (min-width: @screen-lg-min) {
}

@import "partials/_media-queries.less";
@import "_css-overrides.less";